* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    .pay {
        .plans {
            .cart {
                .cart-body {
                    .first-card-button {
                        color: black !important;
                    }
                }
            }
        }
    }
}